<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Tempos Visualizer</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rhythm_visualizer.css')  }}">
  
  <script src="{{ url_for('static', filename='libraries/p5.min.js')  }}"></script>
  <script src="{{ url_for('static', filename='libraries/Tone.js')  }}"></script>


  
</head>

<body>
  <div class="canvas-container">
    <main></main>
  </div>
  <div class="buttons">
    <button id="btn-play" class="btn">Play</button>
    <button id="btn-stop" class="btn">Stop</button>
  </div>
  <script src="../static/mondrian_synesthetic.js"></script>

</body>

</html>