
<!DOCTYPE html>
<html lang='en'>
  
  <head>
    <head>
      <header name = "Access-Control-Allow-Origin" value = "*"></header> 
      <meta charset='UTF-8'/>
      <title>Oscilloscope</title>
      <link rel="stylesheet" href="./templates/oscilloscope.css">
    </head>
  </head>

    <div id='oscilloscopio'>
      <h1 class= 'title'> Our first Oscilloscope</h1>
      <body>
        <canvas width=1000 height=350 style="border: 5px solid burlywood"></canvas>
        <audio crossorigin= "anonymous" id=AudioSource>  
        <source src="{{ url_for('send_track', filename=song_name) }}" alt="" type="audio/mpeg">  
        </audio>
        <button id='OnButton' data-playing="false" role="switch" aria-checked="false">
        Play/Pause
        </button>
        <script type = "text/javascript" 
         src="{{ url_for('static', filename='oscilloscope.js') }}"></script>
    </div>
 </body> 
</html>
