<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Tempos Visualizer</title>

  <link rel="stylesheet" type="text/css" href="rhythm_visualizer.css">
  
  <script src="../static/libraries/Tone.js"></script>
  <script src="../static/libraries/p5.min.js"></script>
  
</head>

<body>
  <div class="canvas-container">
    <main></main>
  </div>
  <div class="buttons">
    <button id="btn-play" class="btn">Play</button>
    <button id="btn-stop" class="btn">Stop</button>
  </div>
  <script src="../static/rhythm_visualizer_mondrianCircle_demo.js"></script>
</body>

</html>