

#oscilloscopio{
    display: grid;
    align-items:center;
    
    position: absolute;
    justify-items: center;
    /* position: relative; */
    margin:auto;
    padding:75px 0;
    width: auto;
    text-align:center;
    top: 0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    background-color:#929292;

    border-top: 50px;
    border-bottom: 20px;
    /* border-radius: 15px; */
}
#OnButton{
  position: relative;
  
}